/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f8d571;
}
::-webkit-scrollbar-thumb {
    background: #32a5bb;
}
/* scrollbar */

/* btn */
.btn-blue {
    background-color: #32a5bb !important;
    border-color: #32a5bb !important;
    color: white !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.btn-blue:hover {
    background-color: #2c97ab !important;
    border-color: #2c97ab !important;
    color: white !important;
}
.btn-outline-blue {
    border-color: #32a5bb !important;
    color: #32a5bb !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.btn-outline-blue:hover {
    background-color: #32a5bb !important;
    border-color: #32a5bb !important;
    color: white !important;
}
.btn-rd-blue {
    background-color: #32a5bb !important;
    border-color: #32a5bb !important;
    color: white !important;
    border-radius: 100px !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}
.btn-rd-blue:hover {
    background-color: #2c97ab !important;
    color: white !important;
}
/* btn */

/* bg */
.bg-white {
    background-color: white !important;
}
.bg-orange {
    background-color: #f8d571 !important;
}
.bg-blue {
    background-color: #32a5bb !important;
}
.bg-orange-paw {
    background-color: #f8d571 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url("/core-img/bg/hero.png") !important;
}
.bg-orange-paw-list {
    background-color: #f8d571 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url("/core-img/bg/list.png") !important;
}
.bg-red {
    background-color: #cf3232 !important;
}
/* bg */

/* text */
.text-blue {
    color: #32a5bb !important;
}
.text-dark-orange {
    color: #f29762 !important;
}
.text-red {
    color: #ce2b2b !important;
}
/* text */

/* border */
.border-red {
    border-color: #ce2b2b !important;
}
/* border */

/* hero card */
.hero-card {
    margin-top: -7%;
}

@media (max-width: 768px) {
    .hero-card {
        margin-top: 0;
    }
}
/* hero card */

/* hover hero card */
.iconed-card {
    transition: background-color 0.3s ease !important;
}

.iconed-card:hover {
    background-color: #f29762 !important;
}

.iconed-img {
    color: #32a5bb !important;
    transition: color 0.3s ease !important;
    text-align: center !important;
}

.iconed-img img {
    transition: filter 0.3s ease !important;
}

.iconed-card:hover .iconed-img {
    color: white !important;
}

.iconed-card:hover .iconed-img img {
    filter: brightness(0) invert(1) !important;
}

/* hover hero card */
